<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in your the blanks to create a Celebrity MadLibs story</h1>
    <form action="/celebStory" method="post">
     <label for="name">Name</label>
     <input id="name" name="name" type="text">
     <label for="Person1">Celebrity</label>
     <input id="Person1" name="Person1" type="Person1">
     <label for="Person2">Celebrity2</label>
     <input id="Person2" name="Person2" type="Person2">
     <label for="Verb">Verb</label>
     <input id="Verb" name="Verb" type="text">
     <label for="Animal">Animal</label>
     <input id="Animal" name="Animal" type="text">
     <label for="Exclamation">Exclamation</label>
     <input id="Exclamation" name="Exclamation" type="text">
     <label for="Noun">Noun</label>
     <input id="Noun" name="Noun" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>