<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs Story!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Dear @Model.Name,</p>
    <p>Verb: @Model.Verb</p>
    <p>Noun: @Model.Noun</p>
    <p>Bark: @Model.Bark</p>
  </body>
</html>